@using System.Collections
@model IdentityServer.Controllers.ClientRegistration.ClientView



@{
    ViewBag.Title = "Dev tool";
    Layout = "_Layout";
}

<h2>Registered projects</h2>

<div class="table">
    <div class="row">
        <div class="flex-column"></div>
        <div class="flex-column"></div>
        <div class="flex-column"></div>
    </div>
</div>

<a asp-action="Create" >Add Project</a>

<table class="table  table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ClientId</th>
            <th scope="col">Url</th>
            <th scope="col">Status</th>
            <th scope="col">Created Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.ClientItems)
        {
            <tr>
                <td>@item.Id</td>
                <td><a asp-action="Details" asp-route-id="@item.Id">@item.Name</a></td>
                <td>@item.Url</td>
                <td>@item.Enabled</td>
                <td>@item.CreatedTime</td>
            </tr>
        }
</table>
